Tuple:
    
--> ordered collection of data
--> unchangble, immuatable
--> iterable
--> hetrogenous

In [2]:
l = [1,2,3]
type(l)

list

In [3]:
l[2] = "xx"

In [4]:
l

[1, 2, 'xx']

In [5]:
t = (2,4,6,)
type(t)

tuple

In [6]:
t[1] = "00"

TypeError: 'tuple' object does not support item assignment

In [7]:
re = (1, 2, "a")
re

(1, 2, 'a')

In [8]:
re[2]

'a'

In [9]:
re[2] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
re = ([1,2,3], [4,5,6])
re[1]

[4, 5, 6]

In [11]:
re[1] = "1"

TypeError: 'tuple' object does not support item assignment

In [12]:
re[1][0] = "AAA"

In [13]:
re

([1, 2, 3], ['AAA', 5, 6])

In [14]:
aa  = 1,2,3

In [15]:
aa

(1, 2, 3)

In [16]:
1,2,3

(1, 2, 3)

In [17]:
type(aa)

tuple

In [18]:
a,b,c = [1,2,3]

In [19]:
a

1

In [20]:
b

2

In [21]:
c

3

In [23]:
type(c)

int

In [28]:
a,b,c = (1,2,)

ValueError: not enough values to unpack (expected 3, got 2)

In [25]:
c

5

In [26]:
a

1